.icon_text {
  margin: 10px 0px;
  .icon {
    margin-left: 5px;
    &.left {
      margin-left: 0 !important;
      margin-right: 5px !important;
    }
  }
}

.contents {
  background-color: $bg_main;
  border: 1px solid;
  width: 65vw;
  padding: 0px 15px;
  min-height: 75vh;
  text-align: justify;

  nav {
    margin: -1px -15px;
    background-color: #808ea3;
    padding: 10px;
    border-bottom: 1px solid;
    overflow: scroll;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;

      li {
        padding: 0px 10px;
        margin-right: 10px;
        border-right: 1px solid black;

        &:last-child {
          border: none;
        }
      }

      a {
        font-size: 22px;
        font-weight: 500;
        text-decoration: none;
        color: rgba(43, 41, 41, 0.897);
      }
    }
  }
  .content {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 20px; // Todo => Make font size smaller for phone.

    .section {
      margin-top: 20px;

      h3 {
        margin: 0;
        margin-bottom: 5px;
      }

      .degree {
        margin-bottom: 15px;
        margin-top: 15px;
        div {
          margin-top: 5px;
          span {
            margin-left: 5px;
          }
        }
      }

      .git_link {
        margin: 8px 0px;

        span {
          font-weight: bold;
          margin-right: 5px;
        }

        a {
          text-decoration: none;
          cursor: pointer;
          word-break: break-all;
          color: $khoyeri;
        }
      }

      .tags {
        align-self: center;
        display: flex;
        flex-wrap: wrap;

        .tag_head {
          font-weight: bold;
          margin-right: 5px;
          align-self: center;
        }

        .tag_item {
          align-self: center;
          background-color: $bg_body;
          padding: 3px;
          margin: 4px;
          border-radius: 10px;
          border: 2px solid;
        }
      }
    }
  }
}
