@import "colors.scss";

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: $bg_main;
  border: 1px solid;

  .profile_detail {
    .profile_item {
      padding: 5px;
      span {
        a {
          text-decoration: none;
          color: $black;
        }

        &:last-child {
          margin-left: 8px;
        }
      }
    }
  }

  .profile_pic {
    padding: 0px 10px;
    text-align: center;
    img {
      border: 1.5px solid;
    }

    .bio {
      background-color: $bg_body;
      padding: 5px 30px;
      color: $black;
      border-radius: 50px;

      span {
        &:first-child {
          margin-left: 0;
        }
        margin-left: 4px;
      }
    }
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    flex-direction: column;

    .profile_pic {
      order: 1;

      .bio {
        overflow-wrap: break-word;
      }
    }

    .profile_detail {
      order: 2;
    }

    img {
      width: 100px;
      height: 100px;
      border-radius: 50px;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    img {
      width: 100px;
      height: 100px;
      border-radius: 50px;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    img {
      width: 200px;
      height: 200px;
      border-radius: 100px;
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    img {
      width: 200px;
      height: 200px;
      border-radius: 100px;
    }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    img {
      width: 200px;
      height: 200px;
      border-radius: 100px;
    }
  }
}
